/*ازالة اي تعديل من الصفحه عشان اعدله انا بعدين على راحتي */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* توسيط كل العناصر في منتصف الصفحه*/
body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh;
  user-select: none;
  background: url(3d-cartoon-night-sky\ \(1\).jpg) no-repeat;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

/*ضبط و توسيط كامل العناصر في الحاوية*/
.contaniner {
  width: 650px;
  padding: 20px;
  backdrop-filter: blur(8px);
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  border-radius: 20px;
}

/*ضبط العنوان الريئيسي الخاص باللعبة*/
.head1 {
  color: white;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
  font-weight: 700;
  padding: 0 10px;
}
/*ضبط عنوان اختيار مستوى اللعب*/
.head2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: white;
}

/*ضبط شكل التفاصيل بحيث يصير فتحها سلس*/
.details {
  margin-bottom: 20px;
  overflow: hidden;
  transition: max-height 0.5s ease;
  max-height: 40px;
}

/**/
details summary {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
}

/**/
.Simplified-explanation {
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
}

/**/
.details[open] {
  position: relative;
  max-height: 500px;
  transition: 0.5s ease;
}

/**/
.summary {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 21px;
  list-style: none;
  cursor: pointer;
  color: white;
  font-family: "Poppins", sans-serif;
}

/*ضبط الكلام في داخل التفاصيل */
.Simplified-explanation {
  width: 450px;
  font-size: 18px;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
  color: white;
  margin-bottom: 50px;
}

/*ضبط حقل ادخال الاسم */
.input-the-name {
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2),
    inset -5px -5px 10px rgba(255, 255, 255, 0.7);
  color: #333;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    -2px -2px 5px rgba(255, 255, 255, 0.5);
  display: flex;
  text-align: center;
  width: 350px;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 60px;
}

/*ضبط حواف حقل الادخال اثناء الكتابه*/
.input-the-name:focus {
  outline: none;
}

/*ضبط حاوية البطاقات الخاصه بمستوى الصعوبة*/
.contaniner-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px;
}
/*ضبط البطاقة الاولى*/
.card1 {
  width: 250px;
  height: 360px;
  background-image: linear-gradient(
    148deg,
    rgba(92, 50, 129, 0.5),
    rgba(22, 91, 145, 0.7)
  );
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px 30px 30px 30px;
  margin-right: 40px;
}

/*ضبط عنوان البطاقة الاولى و الثانية*/
.head3 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  margin-bottom: 40px;
  color: #333;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    -2px -2px 5px rgba(255, 255, 255, 0.5);
}
/**/
/*اضافة حاوية حول عنوان البطاقة الاولى و الثانيه*/
.box {
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2),
    inset -5px -5px 10px rgba(255, 255, 255, 0.7);
}

/* ضبط حاوية شرح البطاقة الاولى*/
.Explanation-of-the-first-card {
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2),
    inset -5px -5px 10px rgba(255, 255, 255, 0.7);

  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: -8px;
  margin-bottom: 10px;
}
/*ضبط الكلام المكتوب الخاص بشرح البطاقة الاولى*/
.Explanation-of-the-first-card p {
  color: #333;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    -2px -2px 5px rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 800;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 160px;
  font-family: "Poppins", sans-serif;
}
/**/
/*ضبط البطاقة الثانية*/
.card2 {
  width: 250px;
  height: 360px;
  background-image: linear-gradient(
    316deg,
    rgba(92, 50, 129, 0.5),
    rgba(22, 91, 145, 0.7)
  );
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px 30px 30px 30px;
  margin-left: 40px;
}
/*ضبط  حاوية شرح البطاقه الثانية*/
.Explanation-of-the-second-card {
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2),
    inset -5px -5px 10px rgba(255, 255, 255, 0.7);
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: -8px;
  margin-bottom: 10px;
}
/*ضبط الكلام المكتوب الخاص بشرح البطاقة الثانية*/
.Explanation-of-the-second-card p {
  color: #333;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    -2px -2px 5px rgba(255, 255, 255, 0.5);
  font-size: 20px;
  font-weight: 800;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 160px;
  font-family: "Poppins", sans-serif;
}
/*ضبط زر بدأ اللعبة في البطاقة الاولى و الثانية*/
.button {
  color: #333;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3),
    -2px -2px 5px rgba(255, 255, 255, 0.5);
  margin-top: 10px;
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-size: 15px;
  font-weight: 800;
  cursor: pointer;
}
